<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">{{ page.title }}</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
						<li><a href="{{ page.url }}">{{ page.layout }}</a></li>
						<li class="active"><a href="https://github.com/hyip/{{ site.github.repository_name }}/blob/master/{{ page.path }}">Source Link</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>