<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
<div class="container">
    <div class="row">
        <div class="grid_12">
            <p class="info text_4 color_4">
                Copyright © <span id="copyright-year"></span> | <a href="https://github.com/eq19">eQuantum Project</a> <br/>
                Website designed by <a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">TemplateMonster.com</a>
            </p>
        </div>
    </div>
</div>
</footer>
<!--========================================================
                    GOOGLE ANALYTICS
=========================================================
    <!-- script -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.2.1.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/isotope.min.js"></script>
	<script src="/js/script.js"></script>
    <<!--script src="//load.sumome.com/" data-sumo-site-id="2b0c75104f236f75954a2d200c80651a1ebf311e7f2c868ac12d7284ecd4fbd4" async="async"></script-->

    <!-- browser -->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="/js/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/camera.js"></script>
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="/js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css">
    <![endif]-->
	