<div class="bg_1 wrap_16 wrap_10">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_1 indent_2 color_3">
                    Get in Touch
                </h2>
                <div id="owl_2">
                    <div class="item">
                        <div class="row">
                            <div class="preffix_1 grid_10">
                                <ul class="list_3">
                                    <li><a href="info" target="_blank"><img src="images/index-1_img09.jpg" alt="Image 9"/></a></li>
                                    <li><a href="rating" target="_blank"><img src="images/index-1_img10.jpg" alt="Image 10"/></a></li>
                                    <li><a href="monitor" target="_blank"><img src="images/index-1_img11.jpg" alt="Image 11"/></a></li>
                                    <li><a href="team" target="_blank"><img src="images/index-1_img12.jpg" alt="Image 12"/></a></li>
                                    <li><a href="script" target="_blank"><img src="images/index-1_img13.jpg" alt="Image 13"/></a></li>
                                    <li><a href="world" target="_blank"><img src="images/index-1_img14.jpg" alt="Image 14"/></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="preffix_1 grid_10">
                                <ul class="list_3">
                                    <li><a href="http://www.hyip.world/" target="_blank"><img src="images/index-1_img09.jpg" alt="Image 9"/></a></li>
                                    <li><a href="http://seo.tophyips.info/" target="_blank"><img src="images/index-1_img10.jpg" alt="Image 10"/></a></li>
                                    <li><a href="http://hyipmonitors.info/" target="_blank"><img src="images/index-1_img11.jpg" alt="Image 11"/></a></li>
                                    <li><a href="http://maps.hyip.world/" target="_blank"><img src="images/index-1_img12.jpg" alt="Image 12"/></a></li>
                                    <li><a href="http://hyipscript.info/" target="_blank"><img src="images/index-1_img13.jpg" alt="Image 13"/></a></li>
                                    <li><a href="http://info.hyip.world/" target="_blank"><img src="images/index-1_img14.jpg" alt="Image 14"/></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========================================================
                    SOCIAL MEDIA
=========================================================
<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/hyipproject/"></a></li>
                    <li><a class="fa fa-twitter" href="https://twitter.com/thehyipproject"></a></li>
                    <li><a class="fa fa-google-plus" href="https://plus.google.com/+HyipWorldProject"></a></li>
                    <li><a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/4058484/hyip"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
