{% include header.html %}
<!--========================================================
						  CONTENT
=========================================================-->
<section id="content"><div class="ic">₠Quantum Project | Site Building, Monitoring System, Business Networking, Project Mapping</div>
<div class="bg_1 wrap_17 wrap_19">
	<div class="container">
	<div class="row wrap_11">
		<div class="grid_12">
			<div class="wrap_10">
				<div class="box_4">
					<div class="put-right">
						<a href="https://github.com/eq19/info/wiki/maps#by-mapping-diagram" target="_blank"><img src="images/index-1_img01.jpg" alt="Image 1"/></a>
					</div>
					<div class="caption">
						<p class="text_5">
							₠Quantum Project is a kind of <a href="/maps">Mapping System</a> 
							that is formed to do its best to find and recommend the best for you. It relays deeply on a 
							kind of a unique formation that will always become unified on every directions. We develop 
							<a href="https://github.com/eq19/info/wiki/Mapping" target="_blank">the concept</a> of this 
							Unique Mapping System as an <a href="https://github.com/eq19" target="_blank">Open Source Project</a> by taking a business called 
							<a href="https://eq19.wordpress.com/hyip-business/#what-is-hyip" target="_blank">Quantum Primes Recombination</a>  
							which we found as a perfect model for us as a starting point to be discussed prior other widely 
							business models on the long time running.<br />
							Assuring you of our best intentions, there is no such thing similar with this kind of concept.
						 	<br/><br/>
							The project is made in the purpose of getting a possibility to build an interface to generate 
							an integrated info by setting the formation.  
							On this project, the formation of three to four takes place to start. The three presents 
							<a href="/">Hyip</a><sup>(1)</sup>, 
							<a href="/concept">Concept</a><sup>(2)</sup>, and 
							<a href="/program">Program</a><sup>(3)</sup>, 
							while the four are 
							<a href="/sites">Site Building</a><sup>(3)</sup>, 
							<a href="/status">Monitoring System</a><sup>(2)</sup>, 
							<a href="/news">Business Networking</a><sup>(3)</sup>, and 
							<a href="/maps">Project Mapping</a><sup>(4)</sup> 
							<br /><br />
							We have started our documentation of our mapping as shown here by diagram (available also in 
							<a href="http://www.slideshare.net/eq19/mapping-system-the-hyip-project-open-source" target="_blank">slide</a> and 
							<a href="https://youtu.be/oKOmY6b1esg" target="_blank">video</a> version)  
							which begin with our <a href="https://github.com/eq19/info/blob/master/README.wiki" target="_blank">Project Information</a> 
							in general. We will also introduce our initial 
							<a href="https://github.com/eq19/eq19.github.io" target="_blank">Repository</a> along with the  
							<a href="https://github.com/eq19/info/wiki/Mapping" target="_blank">Wiki</a>. 
							We are going to setup our Portal for all the 
							'<a href="https://eq19.wordpress.com/hyip-scripts/" target="_blank">eQ19 Script</a>' 
							that belong to the Project on 
							<a href="http://hyipscript.github.io/" target="_blank">GitHub</a>, 
							<a href="http://hyipscript.bitbucket.org/" target="_blank">BitBucket</a>, and 
							<a href="http://hyipscript.sourceforge.net/" target="_blank">SourceForge</a> as well as  
							our <a href="http://hyipscript.info/" target="_blank">Script Portal</a> 
							on the most well-known programming like 
							<a href="http://php.hyipscript.info/" target="_blank">PHP</a>, 
							<a href="http://python.hyipscript.info/" target="_blank">Python</a>, 
							<a href="http://java.hyipscript.info/" target="_blank">Java</a>, 
							<a href="http://go.hyipscript.info/" target="_blank">Go</a> with possible also 
							<a href="http://node.hyipscript.info/" target="_blank">Node.js</a>, 
							<a href="http://scala.hyipscript.info/" target="_blank">Scala</a>,  
							<a href="http://clojure.hyipscript.info/" target="_blank">Clojure</a>, and 
							<a href="http://ruby.hyipscript.info/" target="_blank">Ruby</a>.
							<br/><br/>
							On top of them, as we’re formalizing our <a href="http://hyip.world/" target="_blank">Networking System</a>, 
							we are expanding our <a href="/about">Public Discussion</a> into several media's i.e. 
							<a href="https://eq19.wordpress.com/" target="_blank">Hyip Blog</a>, 
							<a href="http://forum.tophyips.info/" target="_blank">Forum</a>,  
							<a href="http://www.warriorforum.com/blogs/tophyips/" target="_blank">News</a>, 
							<a href="http://www.talkgold.com/forum/group.php?groupid=100" target="_blank">Group</a>, 
							<a href="https://disqus.com/home/forums/tophyips/" target="_blank">Community</a>, and 
							<a href="https://www.youtube.com/c/HyipWorldProject" id="UCKiLnu1DH1wblMzUXtRkMNg" target="_blank">Channel</a> which 
							<a href="https://www.youtube.com/channel_switcher" target="_blank">Formation</a> covers six (6) 
							<a href="https://profiles.google.com/connectedaccounts" target="_blank">Sozializing Plan</a> in sequential of 
							<a href="http://www.talkgold.com/forum/group.php?discussionid=1019&do=discuss#pagetitle" target="_blank">Hyip Monitoring & Rating</a><sup>(1)</sup>, 
							<a href="http://www.warriorforum.com/groups/marketing-strategy.html" target="_blank">Marketing Strategy</a><sup>(2)</sup>, <a href="https://stackoverflow.com/users/4058484" target="_blank">Application Script</a><sup>(3)</sup>, 
							<a href="https://disqus.com/by/hyips/" target="_blank">Topic Discussion</a><sup>(4)</sup>, 
							<a href="http://hyip.kinja.com/" target="_blank">News & Blogging</a><sup>(5)</sup>, and 
							<a href="https://github.com/eq19" target="_blank">Social Coding</a><sup>(6)</sup>.
							<br/><br/>
							The project discussion will not only cover the 
							<a href="https://eq19.wordpress.com/hyip-analysis/" target="_blank">eQ19 Sites Analysis</a> but also the 
							<a href="https://eq19.wordpress.com/hyip-forums/" target="_blank">eQ19 Forum</a>, 
							<a href="https://eq19.wordpress.com/hyip-monitors/" target="_blank">eQ19 Monitor</a>, 
							<a href="https://github.com/eq19/rating/wiki/eQ19-Monitors" target="_blank">eQ19 Rating</a>, 
							and every other sources that are involved in the business. You are welcome to join if you find your interest on each one of them.
						</p>
						<a class="btn_2" href="/maps">read more</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="grid_12">
				<iframe class="map"
						src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094"
						style="border:0">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="grid_6">
				<div class="wrap_18">
					<h2 class="header_2 indent_5">
						Source Code
					</h2>
					<address>
						<p class="text_7 color_6">
							This website lives as <a href="https://pages.github.com/">GitHub Pages</a> that is generated 
							from the codes on several repositories as sorted below.
						</p>
						<p class="text_8">
							If you have any questions about customization of the repositories <br/>
							you can get in touch with us using our contact form. 
						<br /><br />
							<ul class="text_8"><hr>						
							{% for repository in site.github.public_repositories %}
							<li>						
							  Name: <a href="{{ repository.html_url }}" target="_blank">{{ repository.name }}</a> 
							  {% if repository.fork %} (Forked){% endif %} - 
							  Homepage: [<a href="{{ repository.homepage }}" target="_blank">{{ repository.homepage }}</a>]<br>
							  {{ repository.description }}<hr>
							</li>						
							{% endfor %}
							</ul>						
						</p>
					</address>
				</div>
				<div class="wrap_18">
					<h2 class="header_2 indent_5">
						Template Info
					</h2>
					<address>
						<p class="text_7 color_6">
							The site template is one of <a href="https://github.com/eq19theme" target="_blank">our collection</a> from<br/>
							<a href="https://github.com/eq19theme/jekyll/wiki/Themes" rel="nofollow">jekyll themes</a> and 
							<a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">templatemonster.com</a>.
						</p>
						<p class="text_8">
							The <a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">premium website templates</a> go with 24/7 support. <br/>
							<br/>
							If you have any questions about customization of free themes, <br/> address to guys from 
							<a href="http://www.templatetuning.com/" rel="nofollow">TemplateTuning</a>. Note that it's a paid service. <br/>
							<br/>
							The Company Name Inc. <br/>
							9870 St Vincent Place, <br/>
							Glasgow, DC 45 Fr 45. <br/>
							Telephone: +1 800 603 6035 <br/>
							FAX: +1 800 889 9898 <br/>
							E-mail: <a href="#">mail@demolink.org</a>
						</p>
					</address>
				</div>
			</div>
			<div class="grid_6">
				<div class="wrap_18">
					<h2 class="header_2 indent_2">
						Contact Form
					</h2>
						{% include disqus_load.html %} 
				</div>
			</div>
		</div>
	</div>
</div>
{% include social_media.html %}
</section>
</div>
{% include footer.html %}
</body>
</html>