<!DOCTYPE html>
<html>
<head>
{% include head_base.html %}
</head>
<body>
<div class="page">
{% include header.html %}
<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">About Our Project</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
						<li class="active">About</li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>    
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content"><div class="ic">The HYIP Project | Site Building, Monitoring System, News & Blogging, Project Mapping</div>
<div class="container">
	<div class="row wrap_11">
		<div class="grid_12">
			<div class="wrap_10">
				<div class="box_4">
					<div class="put-right">
						<a href="https://github.com/hyip/info/wiki/maps#by-mapping-diagram" target="_blank"><img src="images/index-1_img01.jpg" alt="Image 1"/></a>
					</div>
					<div class="caption">
						<p class="text_5">
							This project is taking a business called <a href="https://tophyipmonitor.wordpress.com/hyip-business/" target="_blank">HYIP</a>, 
							which we found as a perfect model for us as a starting point to be discussed prior other widely 
							business models on the long time running. 
							The project discussion will not only cover the HYIP Sites and Rating Analysis but also the 
							<a href="https://tophyipmonitor.wordpress.com/hyip-forums/" target="_blank">HYIP Forum</a>, 
							<a href="https://tophyipmonitor.wordpress.com/hyip-monitors/" target="_blank">HYIP Monitor</a>, 
							<a href="https://tophyipmonitor.wordpress.com/hyip-scripts/" target="_blank">HYIP Script</a>, 
							and every other sources that are involved in the business model.
						 	<br/><br/>
							The project is made in the purpose of getting a possibility to build an interface to generate 
							an integrated info and aim to have the access and running all available program language like Python, 
							Java, PHP, Go with possible also Scala and Ruby.<br/>
							We have started to make our project documentation which begin with our 
							<a href="https://github.com/hyip/info/blob/master/README.wiki" target="_blank">Project Information</a> 
							in General. We will also introduce our initial 
							<a href="https://github.com/hyip/hyip.github.io" target="_blank">Project Repository</a> as well 
							as our <a href="https://github.com/hyip/info/wiki/Mapping" target="_blank">Wiki Documentation</a>  
							on a mapping concept as you can see in the diagram.
						 	<br/><br/>
							You may find our Portal of all 'HYIPs' belong to the Project on 
							<a href="http://hyips.github.io/" target="_blank">GitHub</a>, 
							<a href="http://hyips.bitbucket.org/" target="_blank">BitBucket</a>, and 
							<a href="http://hyips.sourceforge.net/" target="_blank">SourceForge</a>.
							On top of them, as we’re expanding and formalizing our Networking System, we also setup 
							<a href="http://forum.tophyips.info/" target="_blank">Forum</a>,  
							<a href="http://www.warriorforum.com/blogs/tophyips/" target="_blank">Blog</a>, 
							<a href="http://www.talkgold.com/forum/group.php?groupid=100" target="_blank">Group</a>, and 
							<a href="https://disqus.com/home/forums/tophyips/" target="_blank">Community</a> for Public Discussion.<br/> 
							We encourage you to join if you find your interest on each one of them.
						</p>
						<a class="btn_2" href="/maps">read more</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="row wrap_11 wrap_12">
        <div class="grid_12">
            <h2 class="header_2 indent_2">
                Concept Nature
			</h2>
        </div>
        <div class="grid_7">
            <div class="box_4">
                <p class="text_5">
                    In short, our concept is all about formation. An easy example, counting the total number
                    of an individual duplicated in pair will become three. Pairing it to even with another one, 
                    the total will be seven (7).<br />
                    Forming the seven to three by four lies twelve. Pairing them to even produces a total of 
                    twenty four (24).<br />
                    In our concept these process would present total hours and days that stays fix in a cycle (24/7).
                    <br /><br />
                    The concept covers also the nature of life object. In humans, each cell normally contains 
                    twenty-three pairs of chromosomes, for a total of forty-six. 
                    Twenty-two of these pairs, called autosomes, look the same in both males and females.  
                    The last pair, the sex chromosomes, differ between males and females. Females have two copies 
                    of the X chromosome, while males have one X and one Y chromosome. <br /> 
                    In our concept, the twenty-two with the other two produces a total number of twenty four (24).
                    <br /><br />
                    Going further into the process of DNA Replication in a chromosome, you may find a conjunction 
                    with the routes on all processes that happen in our mapping system.
                    As our mapping is generated in seven (7) kind of depth processes, where, at last, the route 
                    generate their channels in hexagonal form that coherence with six to six even twelve to twelve 
                    like the hours in cycle (24). So when the concept is implemented by an individual as a project 
                    then it will form unified like so time cycle (24/7).
                 </p>
                <a href="/sites/nature" class="btn_2">read more</a>
            </div>
        </div>
        <div class="grid_5">
            <div class="img-wrap">
                <img class="img_1" src="images/index-1_img21.jpg" alt="Image 1"/>
                <img class="img_1" src="images/index-1_img22.jpg" alt="Image 2"/>
                <img class="img_1" src="images/index-1_img23.jpg" alt="Image 3"/>
                <img class="img_1" src="images/index-1_img24.jpg" alt="Image 4"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="bg_1 wrap_13 wrap_10">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_2 indent_2">
                    Studies
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_6">
                <div class="box_4">
                    <p class="text_5">
                        The concept is built by observating a specific phenomena on the nature or in our live on 
                        this universe which sometimes are not easy to define of what the true is. What we need to 
                        do is to find a way to understand the uniformity when they speak on their languages.<br />
                        Here we mention the person with their great contribution to this world were inspired us on 
                        building this concept.
                    </p>
                    <div class="row">
                        <div class="grid_2">
                            <ul class="list_2 text_6">
                                <li><a href="https://en.wikipedia.org/wiki/Claude_Shannon">Claude Shannon</a></li>
                                <li><a href="https://en.wikipedia.org/wiki/Reiji_Okazaki">Reiji Okazaki</a></li>
                                <li><a href="https://en.wikipedia.org/wiki/Frank_Benford">Frank Benford</a></li>
                            </ul>
                        </div>
                        <div class="grid_2">
                            <ul class="list_2 text_6">
                                <li><a href="https://en.wikipedia.org/wiki/John_Horton_Conway">John H Conway</a></li>
                                <li><a href="https://en.wikipedia.org/wiki/James_Watson">James Watson</a></li>
                                <li><a href="https://en.wikipedia.org/wiki/Marco_Dorigo">Marco Dorigo</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn_3" href="#">view all</a>
                </div>
            </div>
            <div class="grid_6">
                <div class="img-wrap">
                    <img class="img_2" src="images/index-1_img03.jpg" alt="Image 3"/>
                    <img class="img_2" src="images/index-1_img04.jpg" alt="Image 4"/>
                    <img class="img_2" src="images/index-1_img05.jpg" alt="Image 5"/>
                    <img class="img_2" src="images/index-1_img06.jpg" alt="Image 6"/>
                    <img class="img_2" src="images/index-1_img07.jpg" alt="Image 7"/>
                    <img class="img_2" src="images/index-1_img08.jpg" alt="Image 8"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_14">
        <div class="grid_12">
            <h2 class="header_1 wrap_8 color_3">
                Why us
            </h2>
        </div>
    </div>
    <div class="row wrap_15">
        <div class="grid_4">
            <div class="box_5" data-index="1">
                <h2 class="text_2 color_2"><a href="http://hyip.tumblr.com/" target="_blank">Maintain</a></h2>
                <p class="text_3">
                    This site is not stand alone. As called by our <a href="http://hyip.github.io/news/formation">concept of formation</a> 
                    then there are four 'hyip' sites including this site. One of them is taking a deep configuratiom 
                    about how to maintain the formation being created.
                </p>
                <br />
                <a class="btn_2" href="http://hyip.tumblr.com/" target="_blank">find more</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="box_5" data-index="2">
                <h2 class="text_2 color_2"><a href="http://hyip.aerobatic.io/" target="_blank">Controling</a></h2>
                <p class="text_3">
                    We have also setup a site to represent a <a href="http://hyip.github.io/status/monitor">controlling process</a> 
                    between the formation. An individual process will behave like a route in a formation. 
                    There are six kind of <a href="http://hyip.github.io/sites/route">routes</a> involved in all 'hyips' system.
                </p>
                <br />
                <a class="btn_2" href="http://hyip.aerobatic.io/" target="_blank">find more</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="box_5" data-index="3">
                <h2 class="text_2 color_2"><a href="http://hyip.kinja.com/" target="_blank">Achievement</a></h2>
                <p class="text_3">
                    Another site is built in conjuction to the mapping of <a href="http://hyip.github.io/sites/route">routing</a> 
                    on achieving a <a href="http://hyip.github.io/maps/settlement">settlement</a>. 
                    In line with our unified formation you may find there that they are also six kind of 
                    <a href="http://hyip.github.io/sites/channel">channels</a> but folded in pairing.		 
                </p>
                <br />
                <a class="btn_2" href="http://hyip.kinja.com/" target="_blank">find more</a>
            </div>
        </div>
    </div>
</div>
{% include social_media.html %}
</section>
</div>
{% include footer.html %}
</body>
</html>
