<!DOCTYPE html>
<html>
<head>
{% include head_base.html %}
</head>
<body>
<div class="page">
{% include header.html %}
<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">Find Us</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
						<li class="active">Contacts</li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>    
<!--========================================================
						  CONTENT
=========================================================-->
<section id="content"><div class="ic">The HYIP Project | Site Building, Monitoring System, News & Blogging, Project Mapping</div>
<div class="bg_1 wrap_17 wrap_19">
	<div class="container">
		<div class="row">
			<div class="grid_12">
				<iframe class="map"
						src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094"
						style="border:0">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="grid_6">
				<div class="wrap_18">
					<h2 class="header_2 indent_5">
						Repository Info
					</h2>
					<address>
						<p class="text_7 color_6">
							This website live as <a href="https://pages.github.com/">GitHub Pages</a> and comes<br/>
							from several repositories as listed below.
						</p>
						<p class="text_8">
							If you have any questions about customization of the repositories <br/>
							you can get in touch with us using our contact form. 
						<br /><br />						
							{% for repository in site.github.public_repositories %}
							  * [<strong>{{ repository.name }}</strong>]
							  (<a href="{{ repository.html_url }}" target="_blank">{{ repository.html_url }}</a>)<br>
							{% endfor %}
						</p>
					</address>
				</div>
				<div class="wrap_18">
					<h2 class="header_2 indent_5">
						Template Info
					</h2>
					<address>
						<p class="text_7 color_6">
							The site template is one of <a href="https://github.com/hyiptheme" target="_blank">our collection</a> from<br/>
							<a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">templatemonster.com</a>.
						</p>
						<p class="text_8">
							The <a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">premium website templates</a> go with 24/7 support. <br/>
							<br/>
							If you have any questions about customization of free themes, <br/> address to guys from 
							<a href="http://www.templatetuning.com/" rel="nofollow">TemplateTuning</a>. Note that it's a paid service. <br/>
							<br/>
							The Company Name Inc. <br/>
							9870 St Vincent Place, <br/>
							Glasgow, DC 45 Fr 45. <br/>
							Telephone: +1 800 603 6035 <br/>
							FAX: +1 800 889 9898 <br/>
							E-mail: <a href="#">mail@demolink.org</a>
						</p>
					</address>
				</div>
			</div>
			<div class="grid_6">
				<div class="wrap_18">
					<h2 class="header_2 indent_2">
						Contact Form
					</h2>
						{% include disqus_load.html %} 
				</div>
			</div>
		</div>
	</div>
</div>
{% include social_media.html %}
</section>
</div>
{% include footer.html %}
</body>
</html>