<!DOCTYPE html>
<html>
<head>
{% include head_base.html %}
</head>
<body>
<div class="page">
{% include header.html %}
<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">{{ page.category }}: {{ page.title | capitalize }}</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
					<li><a href="/concept">Concept</a></li>                  
					<li><a href="{{ page.url | replace:page.title,'' }}">{{ page.category }}</a></li>                  
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					<li class="active"><a href="https://github.com/hyip/{{ site.github.repository_name }}/blob/master/{{ page.path }}">Source Link</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>    
<!--========================================================
						  CONTENT
=========================================================-->
<section id="content"><div class="ic">The HYIP Project | Site Building, News & Blogging, Monitoring System, Project Mapping</div>
<div class="container">
	<div class="row wrap_11">
		<div class="grid_12">
			<div class="wrap_10">
				<div class="box_6">
					<div class="put-left">
						<div class="caption">
							<a href="{{ page.url }}"><img src="/images/index-3_img03.jpg" alt="Image 1"/></a>
							<p class="text_2 color_1">
								{{ page.category }} :: {{ page.title | capitalize }}
							</p>
						</div>
					</div>
					<div class="caption">
						<p class="text_3">
							{{ page.content }}
						</p>
						<a class="btn_2" href="{{ page.url | replace:page.title,'' }}">back to {{ page.category }}</a>
						<hr>
						{% include disqus_load.html %}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include social_media.html %}
</section>
</div>
{% include footer.html %}
</body>
</html>
