<!DOCTYPE html>
<html>
<head>
{% include head_base.html %}
<script type="text/javascript">
    var githubApiUrl = 'https://api.github.com/repos/hyip/info/contents/wiki/Mapping-Routine.mediawiki';
    var contentContainerId = "#readmeContent";

    $.ajax({
      url: githubApiUrl,
      dataType: 'jsonp',
      success: function(response)
      {
        var encodedContent = response.data.content;
        var markdownText = Base64.decode(encodedContent);
        var renderedHtml = marked(markdownText);
        $(contentContainerId).html(renderedHtml);
      }
    });
</script>
</head>
<body>
<div class="page">
<!--========================================================
						  HEADER
=========================================================-->
<header id="header">
	<div id="stuck_container">
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<div class="brand put-left">
						<h1>
							<a href="/">
								<img src="/images/logo.png" alt="Logo"/>
							</a>
						</h1>
					</div>
					<nav class="nav put-right">
						<ul class="sf-menu">
							<li><a href="/">Home</a></li>
							<li class="current"><a href="concept.html">Concept</a>
								<ul>
									<li><a href="maps.html">Project Mapping</a>
										<ul>
											<li><a href="/maps/routine.html">Routine</a></li>
											<li><a href="#">Spreading</a></li>
											<li><a href="#">Employment</a></li>
											<li><a href="#">Merging</a></li>
											<li><a href="#">Settlement</a></li>
											<li><a href="#">Comparison</a></li>
											<li><a href="#">Overall</a></li>
										</ul>
									</li>
									<li><a href="sites.html">Site Building</a></li>
									<li><a href="news.html">News & Blogging</a></li>
									<li><a href="monitor.html">Monitoring System</a></li>
								</ul>
							</li>
							<li><a href="programs.html">Programs</a>
								<ul>
									<li><a href="/info">Project Introduction</a></li>
									<li><a href="/rating">Site Rating</a></li>
									<li><a href="/monitor">Monitoring Script</a></li>
									<li><a href="/team">Team Work</a></li>
									<li><a href="/script">Social Coding</a></li>
									<li><a href="/world">Networking</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="contacts.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">Mapping Routine</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
						<li><a href="/concept.html">Concept</a></li>                  
						<li><a href="/maps.html">Project Mapping</a></li>                  
						<li class="active">Routine</li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>    
<!--========================================================
						  CONTENT
=========================================================-->
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - September08, 2014!</div>
	<div class="container">
		<div class="row wrap_11">
			<div class="grid_12">
				<div class="wrap_10">
					<div class="box_6">
<div id="readmeContent"></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row wrap_9 wrap_4 wrap_10">
			<div class="grid_12">
				<div class="header_1 wrap_3 color_3">
					Get in Touch
				</div>
				<div class="box_3">
					<ul class="list_1">
						<li><a class="fa fa-twitter" href="#"></a></li>
						<li><a class="fa fa-facebook" href="#"></a></li>
						<li><a class="fa fa-google-plus" href="#"></a></li>
						<li><a class="fa fa-pinterest" href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br/>
                    Website designed by <a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">TemplateMonster.com</a>
                </p>
            </div>
        </div>  
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>