<!DOCTYPE html>
<html>
<head>
{% include head_base.html %}
<script type="text/javascript">
    var githubApiUrl = 'https://api.github.com/repos/hyip/info/contents/wiki/Mapping-Routine.mediawiki';
    var contentContainerId = "#readmeContent";

    $.ajax({
      url: githubApiUrl,
      dataType: 'jsonp',
      success: function(response)
      {
        var encodedContent = response.data.content;
        var markdownText = Base64.decode(encodedContent);
        var renderedHtml = marked(markdownText);
        $(contentContainerId).html(renderedHtml);
      }
    });
</script>
</head>
<body>
<div class="page">
{% include header.html %}
<section id="blogArchive">      
	<div class="container">
		<div class="row">
			<div class="blog-breadcrumbs-area">
				<div class="blog-breadcrumbs-left">
					<h1 class="header_2">{{ page.title }}</h1>
				</div>
				<div class="blog-breadcrumbs-right">
					<ol class="breadcrumb">
						<li>You are here</li>
						<li><a href="/">Home</a></li>                  
						<li><a href="/concept.html">Concept</a></li>                  
						<li><a href="/maps.html">Project Mapping</a></li>                  
						<li class="active">Routine</li>
					</ol>
				</div>
			</div>
		</div>
	</div>      
</section>    
<!--========================================================
						  CONTENT
=========================================================-->
<section id="content"><div class="ic">The HYIP Project | Site Building, News & Blogging, Monitoring System, Project Mapping</div>
<div class="container">
	<div class="row wrap_11">
		<div class="grid_12">
			<div class="wrap_10">
				<div class="box_6">
					<div id="readmeContent"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include social_media.html %}
</section>
</div>
{% include footer.html %}
</body>
</html>
